@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Article";

	
}
<section>
	<div class="img-fluid banner-box">
		<img src="~/image/banner-5.jpg" alt="image description" class="img-fluid banner-height">
	</div>
</section>

<section class="block-padding">
	<div class="container" id="app">
		<div class="row align-items-center">
			<div class="col-md-12 col-lg-12 mb-30 wow fadeInUp" data-wow-duration="600ms">
				<div class="about-block active">
					<h3 class="text-center">最新消息</h3>
					<div class="teachers-list">
						<ul id="addUl" v-for="item in items">
							<li>
								<a :href=`@Url.Content("~/Article/Detail/")${item.id}`>
									<div class="div-article-col row ani-backcolor h-100">
										<div class="col-lg-2 h-100">
											<img class="pic-backmemberCAU" :src=`@Url.Content("~/uploads/")${item.picture}`
												 alt="teacher" title="teacherName" />
										</div>
										<div class="col-lg-10 row h-100">
											<div class="col-lg-12">
												<p class="ri-p-title">
													{{item.title}}
												</p>
												<p class="p-text col-lg-12  display-inline teachers-introduction">
													{{item.articleContent}}
												</p>
											</div>
											<div class="col-lg-12 span-article-time">
												<span>
													最後編輯時間：
												</span>
												<span>
													{{formatDate(item.modifiedTime)}}
												</span>
											</div>
										</div>
									</div>
								</a>
							</li>`
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts{
	<script>
		const { createApp } = Vue

		createApp({
			data: function () {
				return {
					items: []
				}
			},
			mounted: function () {
				axios.get('https://localhost:7016/api/Articles')
					.then(response => (this.items = response.data))
			},
			methods: {
				formatDate: function (date) {
					let d = new Date(date),
						month = '' + (d.getMonth() + 1),
						day = '' + d.getDate(),
						year = d.getFullYear();

					if (month.length < 2)
						month = '0' + month;
					if (day.length < 2)
						day = '0' + day;

					return [year, month, day].join('-');
				}
			}
		}).mount('#app')
	</script>
}

@section Styles{
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.js'
			integrity='sha512-w39cIBZHEf0ac8RERRGs+aTrQbBIpb+0qGsMCKfwvJSmN6YV8brsbYN1a/nTmuQgfrGyg7p3WI4HRu1rs3rLvw=='
			crossorigin='anonymous'></script>
}