@{
	ViewData["Title"] = "ArticleIndex";
	Layout = "~/Views/Shared/_BackLayout.cshtml";
}
<!-- Title -->
<section>
	<div class="backplatform-page">
		<!-- navbar -->

		<div>
			<div class="teachers-list" id="app">
				<div class="open-sidenav-btn" id="navbarOpen">
					&#9776;
				</div>

				<div class="backplatform-main">
					<div class="backplatform-title">
						<h2 id="backTitle">報表維護</h2>
					</div>
				</div>
				<hr />
				<iframe title="Report Section" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZTA2NjE0ZmUtMjdjZi00Y2Q0LTg4OTYtNmUzZjU5YTZmMmZjIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
			</div>
		</div>
	</div>
</section>