@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Nsl_Core.Models.ViewModels.ForgetPasswordVM
<section>
    <div class="img-fluid banner-box">
        <img src="~/image/banner-5.jpg" alt="image description" class="img-fluid banner-height">
    </div>
</section>
<!-- Teachers list -->
<section class="block-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-12 mb-30 wow fadeInUp" data-wow-duration="600ms">
                <div class="about-block active">
                    <div class="container text-center">
                        <h3 class="mb-4" id="demoR">忘記密碼</h3>
                        <form class="login-form mx-auto" method="POST">
                            <strong>
                                請輸入帳號(您的Email)，系統會送出確認信到該電子信箱
                            </strong>
                            <div class="mt-3 row">
                                <div class="col-3 px-0"></div>
                                <div class="col-1 float-right px-0 text-right mt-1">
                                    <span style="color:red">*</span><label class="me-2">帳號:</label>
                                </div>
                                <div class="col-4 float-left px-0" style="display: inline-block;">
                                    <input type="text" class="form-control" id="account" placeholder="請輸入電子郵件" name="Email" />
                                    <input type="submit" class="btn-backedit2" id="sendEmail" style="display: inline-block;" value="送出">
                                </div>
                                <div class="col-4 text-start mt-1" style="display: inline-block;">
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" ,@id="accErr"})
                                </div>                               
                            </div>
                            <a href="~/NSL/Login" class="btn-backedit2 mt-4" style="margin-bottom: -2px;color:white;display: inline-block;" id="login">回登入頁面</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        let regex = /^\w+((-\w+)|(\.\w+))*\@@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
        $("#account").blur(() => {
            if (!regex.test($("#account").val())) {
                $("#accErr").text("格式錯誤")
                $("#sendEmail").attr("disabled", true)
            }
            else {
                $("#accErr").text("")
                $("#sendEmail").attr("disabled", false)
            }
        })

        $("#demoR").on("click", function () {
            $("#account").val("k1a0n0z3aki@gmail.com")
            $("#accErr").text("")
            $("#sendEmail").attr("disabled", false)
        })

    </script>
}